In [1]:
import pandas as pd

In [2]:
roty_file = ['2009-2010-tyreke-evans.csv',
    '2010-2011-blake-griffen.csv',
    '2011-2012-kyrie-irving.csv',
    '2012-2013-damian-lillard.csv',
    '2013-2014-michael-carter-williams.csv',
    '2014-2015-andrew-wiggens.csv',
    '2015-2016-carl-anthony-towns.csv',
    '2016-2017-malcolm-brogdon.csv',
    '2017-2018-ben-simmons.csv',
    '2018-2019-luka-doncic.csv']

In [4]:
dataframes = []

for filename in roty_file:
    path = r"data/roty/" + filename
    df = pd.read_csv(path)
    dataframes.append(df)

In [5]:
roty_list = ['Tyreke Evans', 'Blake Griffen', 'Kyrie Irvine', 'Damian Lillard', 'Michael Carter-Williams', 'Andrew Wiggens', 'Carl-Anthony Towns', 'Malcolm Brogdon','Ben Simmons', 'Luka Doncic']
n = 0
for roty in roty_list:
    dataframes[n]["Player_name"] = roty
    n = n + 1

In [6]:
merged_df = pd.concat(dataframes)

In [7]:
merged_df.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-',
       'Player_name'],
      dtype='object')

In [9]:
cleaned_df = merged_df.loc[merged_df["GS"] == "1"]
    
cleaned_df[["MIN", "SEC", "SECONDS_PLAYED"]] = cleaned_df["MP"].str.split(':', n = 2, expand = True)

cleaned_df[["AGE YEAR","AGE DAY"]] = cleaned_df["Age"].str.split('-', n = 1, expand = True)

In [10]:
cleaned_df.columns

Index(['Rk', 'G', 'Date', 'Age', 'Tm', 'Unnamed: 5', 'Opp', 'Unnamed: 7', 'GS',
       'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-',
       'Player_name', 'MIN', 'SEC', 'SECONDS_PLAYED', 'AGE YEAR', 'AGE DAY'],
      dtype='object')

In [12]:
#rename
cleaned_df.columns = ['GAME_NUMBER',
'GAME_PLAYED',
'DATE',
'DROP',
'TEAM',
'HOME_AWAY',
'OPP',
'RESULT',
'GS',
'MP',
'FG',
'FGA',
'FG_PERCENT',
'THREEP',
'THREEPA',
'THREEP_PERCENT',
'FT',
'FTA',
'FT_PERCENT',
'ORB',
'DRB',
'TRB',
'AST',
'STL',
'BLK',
'TOV',
'PF',
'PTS',
'GMSC', 
'PLUS_MINUS',
'PLAYER_NAME',
'MIN',
'SEC',
'SECONDS_PLAYED',
'AGE',
'DROP1']

In [16]:
cleaned_df = cleaned_df.drop(columns=['DROP', 'DROP1'])
cleaned_df.columns

Index(['GAME_NUMBER', 'GAME_PLAYED', 'DATE', 'TEAM', 'HOME_AWAY', 'OPP',
       'RESULT', 'GS', 'MP', 'FG', 'FGA', 'FG_PERCENT', 'THREEP', 'THREEPA',
       'THREEP_PERCENT', 'FT', 'FTA', 'FT_PERCENT', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GMSC', 'PLUS_MINUS', 'PLAYER_NAME',
       'MIN', 'SEC', 'SECONDS_PLAYED', 'AGE'],
      dtype='object')

In [17]:
#reorginize
cleaned_df = cleaned_df[['PLAYER_NAME',
'GAME_NUMBER',
'GAME_PLAYED',
'DATE',
'AGE',
'TEAM',
'HOME_AWAY',
'OPP',
'RESULT',
'GS',
'MP',
'MIN',
'SEC',
'SECONDS_PLAYED',
'FG',
'FGA',
'FG_PERCENT',
'THREEP',
'THREEPA',
'THREEP_PERCENT',
'FT',
'FTA',
'FT_PERCENT',
'ORB',
'DRB',
'TRB',
'AST',
'STL',
'BLK',
'TOV',
'PF',
'PTS',
'GMSC',
'PLUS_MINUS']]

In [18]:
cleaned_df

,PLAYER_NAME,GAME_NUMBER,GAME_PLAYED,DATE,AGE,TEAM,HOME_AWAY,OPP,RESULT,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GMSC,PLUS_MINUS
0,Tyreke Evans,1,1.0,10/28/2009,20,SAC,@,OKC,L (-13),1,...,3.0,4.0,2.0,1.0,0.0,3.0,5.0,10.0,-0.3,-20.0
1,Tyreke Evans,2,2.0,10/30/2009,20,SAC,@,NOH,L (-5),1,...,3.0,3.0,2.0,2.0,0.0,3.0,4.0,22.0,15.0,-10.0
2,Tyreke Evans,3,3.0,10/31/2009,20,SAC,@,SAS,L (-19),1,...,1.0,2.0,6.0,2.0,0.0,2.0,3.0,6.0,4.1,-15.0
3,Tyreke Evans,4,4.0,11/2/2009,20,SAC,NaN,MEM,W (+11),1,...,3.0,3.0,4.0,0.0,0.0,2.0,2.0,3.0,-0.1,-16.0
4,Tyreke Evans,5,5.0,11/4/2009,20,SAC,NaN,ATL,L (-8),1,...,1.0,3.0,4.0,3.0,0.0,2.0,2.0,15.0,7.4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Luka Doncic,73,68.0,3/23/2019,20,DAL,@,GSW,W (+35),1,...,10.0,11.0,10.0,3.0,0.0,3.0,3.0,23.0,23.5,29.0
73,Luka Doncic,74,69.0,3/26/2019,20,DAL,NaN,SAC,L (-4),1,...,11.0,12.0,12.0,0.0,0.0,4.0,2.0,28.0,24.8,-7.0
74,Luka Doncic,75,70.0,3/28/2019,20,DAL,@,MIA,L (-6),1,...,8.0,8.0,7.0,0.0,0.0,6.0,4.0,19.0,7.7,-8.0
77,Luka Doncic,78,71.0,4/3/2019,20,DAL,NaN,MIN,L (-2),1,...,8.0,12.0,6.0,0.0,1.0,4.0,1.0,27.0,22.4,-15.0
80,Luka Doncic,81,72.0,4/9/2019,20,DAL,NaN,PHO,W (+11),1,...,13.0,16.0,11.0,3.0,0.0,4.0,1.0,21.0,25.5,15.0

In [20]:
cleaned_df.to_csv('roty_data1.csv', index = False)